[project]
	description = algorithms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dan Fan (fandan-nyc)
[access "refs/for/refs/*"]
	read = group user/Dan Fan (fandan-nyc)
	push = group user/Dan Fan (fandan-nyc)
	label-Code-Review = -2..+2 group user/Dan Fan (fandan-nyc)
	label-Verified = -1..+1 group user/Dan Fan (fandan-nyc)
	rebase = group user/Dan Fan (fandan-nyc)
	removeReviewer = group user/Dan Fan (fandan-nyc)
	submit = group user/Dan Fan (fandan-nyc)
[access "refs/heads/*"]
	read = group user/Dan Fan (fandan-nyc)
	create = group user/Dan Fan (fandan-nyc)
	push = +force group user/Dan Fan (fandan-nyc)
	pushMerge = group user/Dan Fan (fandan-nyc)
[access "refs/tags/*"]
	push = +force group user/Dan Fan (fandan-nyc)
	pushTag = group user/Dan Fan (fandan-nyc)
	pushSignedTag = group user/Dan Fan (fandan-nyc)
